pkgbase = mario
    pkgver = 1.0
    pkgrel = 0
    epoch = 0
    arch = x86_64
    license = GPL
    depends = pkgfile
    depends = yaourt
    source = https://github.com/sblu/mario/archive/1.0.tar.gz

pkgname = mario

